{
  "presets": [
    ["@babel/preset-env", {"targets": {"browsers": ["last 2 versions"]}}]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-function-bind",
    "transform-regenerator",
    "syntax-async-functions",
    "syntax-jsx",
    "transform-react-jsx"
  ]
}
